.footer-heading h6{
    display: inline-block !important;
    font-size:20px;
}
.footer-heading p{
    margin-left: 5px;
    margin:0px !important;
    padding:5px !important;
    display: inline-block !important;
}
.contact-us-about-us{
    margin:15px !important;
    padding: 0px !important;
}
@media only screen and (max-width: 500px) {
    .product-desc h3{
        padding: 10px 5px;
    }
    .product-desc-main{
        margin-top:0px !important;
    }
}
.icon-bar ul li{
    display: inline-block !important;
    padding:15px 0px 0px 25px;
    font-size:20px;
    /*list-style: none !important;*/
}
.product-title h1{
    margin-top:5px;
    margin-bottom:12px;
    font-size: 25px;
}
.product-desc-main .product-desc h3{
    margin-top:5px;
    margin-bottom:10px;   
}
.product-desc-main{
    margin-top:44px;
}
.product-title, .product-desc{
    background-color: black;
    color: #fff;
    margin-bottom: 20px;  
}
.panel .panel-body{
    height:220px !important;
}
.panel { position: relative; overflow: hidden; display: block; border-radius: 0 !important;  }
.panel-default { border-color: #ebedef !important; }
.panel .panel-body { position: relative; padding: 45px !important; overflow: hidden; height: auto; }
.panel .panel-body a { overflow: hidden; }
.panel .panel-body a img { display: block; margin: 0; width: 100%; height: auto; 
    transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    -webkit-transition: all 0.5s; 
    -o-transition: all 0.5s; 
}
.panel .panel-body a.zoom:hover img { transform: scale(1.3); -ms-transform: scale(1.3); -webkit-transform: scale(1.3); -o-transform: scale(1.3); -moz-transform: scale(1.3); }
.panel .panel-body a.zoom span.overlay { position: absolute; top: 0; left: 0; visibility: hidden; height: 100%; width: 100%; background-color: #000; opacity: 0; 
    transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -webkit-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
}     
.panel .panel-body a.zoom:hover span.overlay { display: block; visibility: visible; opacity: 0.55; -moz-opacity: 0.55; -webkit-opacity: 0.55; filter: alpha(opacity=65); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)"; }  
.panel .panel-body a.zoom:hover span.overlay i { position: absolute; top: 45%; left: 0%; width: 100%; font-size: 2.25em; color: #fff !important; text-align: center;
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=1);    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}
.panel .panel-footer { padding: 8px !important; background-color: #f9f9f9 !important; border-bottom-right-radius: 0 !important; border-bottom-left-radius: 0 !important; }	
.panel .panel-footer h4 { display: inline; font: 400 normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #34495e margin: 0 !important; padding: 0 !important; }
.panel .panel-footer div { width: 15px; display: inline; font: 300 normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #34495e; text-align: center; background-color: transparent !important; border: none !important; }

.about-bg-heading h1 {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 50px;
}
.about-bg-heading h1:before {
    content: "\201c";
    font-family: 'Fontawesome';
    color: #a1a1a1;
}

.about-bg-heading h1:after {
    content: "\201d";
    font-family: 'Fontawesome';
    color: #a1a1a1;
}

#bootstrap-media-lightbox-content-container{
    margin-top: 200px !important;
    margin-left: 500px !important;
}
#bootstrap-media-lightbox-content-container img{
    height: 250px !important;
    width: 350px !important;
}

body { 
    padding-top: 20px; 
}
.carousel{
    position: relative;
}
.carousel-indicators{
    position: absolute;
    top:385px;
    left:340px;
    height:105px;
    width: 100%; 
}
.carousel-indicators li{
    text-indent:0;
    display:inherit;
    float:left;
    width: 10%;
    height: 100px;
    margin:5px 0px;
}
.carousel-indicators li img{
    width: 95%;
    height: 100px;
    border:2px solid #CCCCCC;
    padding: 2px;
}
.carousel-indicators .active img{
    border:2px solid #04BEF5;
}
.carousel-indicators .active{
    margin:5px 0px;
    width: 10%;
    height: 100px;
}
.carousel-control.right,
.carousel-control.left{
    background-image: none;
}
@media screen and (min-width:320px) and (max-width:360px) {
    .carousel-indicators{
        top:115px;
        left:95px;
    }
    .carousel-indicators li img{
        width:95%;
        height:50px;
    }
    .carousel-indicators li{
        width:20%;
        height:50px;
    }
    .carousel-indicators .active{
        width:20%;
        height:50px;
    }
}
@media screen and (min-width:768px) and (max-width:980px){
    .carousel-indicators{
        top:240px;
        left:213px;
    }
}


#main-nav{
    padding: 0px;
}
#main-nav .navbar-right{
    margin-top: 0px;
}

#main-nav .navbar-right li > a{
    padding-top: 32px;
    padding-bottom: 32px;
}
.search-form{
    bottom: -60px;
} 